<%= render partial: 'search', locals: { lastname: params.fetch(:lastname, nil), checkedin: params.fetch(:checkedin, nil) } %>

<table class="primary">
  
  <thead>
    <tr>
      <td colspan="8" class="icon-legend">
        <span class="material-symbols-outlined">receipt_long</span>Pre-Ordered | 
        <span class="material-symbols-outlined">workspace_premium</span>Honors Cord |
        <span class="material-symbols-outlined">digital_wellbeing</span>WELL Core Cord |
        <span class="material-symbols-outlined">diagnosis</span>Brag Card |
        <span class="material-symbols-outlined">verified</span>Checked-In |
        <span class="material-symbols-outlined">Print</span>Printed
      </td>
    </tr> 
    <tr>
      <th>Name</th>
      <th>Deg</th>
      <th>College</th>
      <th>Major</th>
      <th class="status-col"><span class="material-symbols-outlined">receipt_long</span></th>
      <th class="status-col"><span class="material-symbols-outlined">workspace_premium</span></th>
      <th class="status-col"><span class="material-symbols-outlined">digital_wellbeing</span></th>
      <th class="status-col"><span class="material-symbols-outlined">diagnosis</span></th>
      <th class="status-col"><span class="material-symbols-outlined">verified</span></th>
      <th class="status-col"><span class="material-symbols-outlined">Print</span></th>
  <% @graduates.each do |graduate| %>
    <tr>
      <td class="name-col" nowrap>
        <%= link_to "#{graduate.display_preferred_last}, #{graduate.display_preferred_first}",
              graduate_path(buid: graduate.buid, lastname: params.fetch(:lastname, nil)) %>
      </td>
      <td nowrap>
        <%= graduate.degree1 %>
        <% if graduate.levelcode.start_with?("GR") %>
          <span class="material-symbols-outlined">school</span>
        <% end %>
      </td>
      <td nowrap>
        <span class="material-symbols-outlined"><%= CollegeCodeTranslator.icon(graduate.college1) %></span> <%= CollegeCodeTranslator.translate_short(graduate.college1) %>
      </td>
      <td nowrap>
        <%= graduate.major %>
      </td>
      <td class="status-col">
        <% if graduate.orderid.presence %>
          <span class="material-symbols-outlined">receipt_long</span>
        <% end %>
      </td>
      <td class="status-col">
        <% if graduate.honors.presence %>
          <span class="material-symbols-outlined">workspace_premium</span>
        <% end %>
      </td>
      <td class="status-col">
        <% if @cords_by_buid[graduate.buid] %>
          <span class="material-symbols-outlined">digital_wellbeing</span>        
        <% end %>
      </td>
      <td class="status-col">
        <% if graduate.brags.any? %>
          <span class="material-symbols-outlined">diagnosis</span>        
        <% end %>
      </td>
      <td class="status-col">
        <% if graduate.checked_in? %>
          <span class="material-symbols-outlined">done</span>
        <% end %>
      </td>
      <td class="status-col">
        <% if graduate.printed? %>
          <span class="material-symbols-outlined">done</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
