<h1>Pickup Stats</h1>

<h2>Students Already Printed</h2>
<ul>
  <li>Undergraduate: <%= @printed_undergrad %> out of <%= @total_undergrad %> (<%= @percent_printed_undergrad %>%)</li>
  <li>Graduate: <%= @printed_grad %> out of <%= @total_grad %> (<%= @percent_printed_grad %>%)</li>
</ul>

<h2>Brag Cards</h2>
<ul>
  <li>Alumni with Brag Cards Picked Up: <%= @graduates_with_brag_cards %> out of <%= @total_graduates_with_brag_cards %> (<%= @percent_brag_pickedup %>%)</li>
</ul>

<h2>Printed Data Over Time</h2>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Total</th>
      <th>UG</th>
      <th>GR</th>
      <th>Brags</th>
    </tr>
  </thead>
  <tbody>
    <% @printed_over_time.each do |time, count| %>
      <tr>
        <td><%= time %></td>
        <td><%= count %></td>
        <td><%= @printed_undergrad_over_time[time] || 0 %></td>
        <td><%= @printed_grad_over_time[time] || 0 %></td>
        <td><%= @brags_over_time[time] || 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>