<h1>Pickup Stats</h1>

<h2>Students Already Printed</h2>
<ul>
  <li>Undergraduate: <%= @printed_undergrad %> out of <%= @total_undergrad %> (<%= @percent_printed_undergrad %>%)</li>
  <li>Master: <%= @printed_master %> out of <%= @total_master %> (<%= @percent_printed_master %>%)</li>
  <li>Doctorate: <%= @printed_doctorate %> out of <%= @total_doctorate %> (<%= @percent_printed_doctorate %>%)</li>
  <li>All Students: <%= @total_printed %> out of <%= @total_graduates %> (<%= @percent_printed %>%)</li>
</ul>

<h2>Handouts</h2>
<ul>
  <li>Alumni with Brag Cards Picked Up: <%= @graduates_with_brag_cards %> out of <%= @total_graduates_with_brag_cards %> (<%= @percent_brag_pickedup %>%)</li>
  <li>Alumni with WC Cords Picked Up: <%= @printed_with_cords %> out of <%= @total_with_cords %> (<%= @percent_printed_with_cords %>%)</li>
</ul>

<h2>Colleges</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picked Up</th>
      <th>Total</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <% @college_stats.each do |college| %>
      <tr>
        <td><%= college[:college_name] %></td>
        <td><%= college[:printed] %></td>
        <td><%= college[:total] %></td>
        <td><%= college[:percent] %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @printed_over_time.present? %>
  <h2>Printed Data Over Time</h2>
  <p>
    View by:
    <%= link_to "Hour", stats_graduates_path(interval: "hour") %> |
    <%= link_to "15 Minutes", stats_graduates_path(interval: "15min") %>
  </p>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Total</th>
        <th>UG</th>
        <th>MA</th>
        <th>DR</th>
        <th>Brags</th>
      </tr>
    </thead>
    <tbody>
      <% @printed_over_time.each do |time, count| %>
        <% ug = @printed_undergrad_over_time[time] || 0 %>
        <% ma = @printed_master_over_time[time] || 0 %>
        <% dr = @printed_doctorate_over_time[time] || 0 %>
        <% brags = @brags_over_time[time] || 0 %>

        <% unless count == 0 && ug == 0 && ma == 0 && dr == 0 && brags == 0 %>
          <tr>
            <td>
              <% if params[:interval] == "15min" %>
                <%= time.in_time_zone("Central Time (US & Canada)").strftime("%m/%d %l:%M%P") %>
              <% else %>
                <%= time.in_time_zone("Central Time (US & Canada)").strftime("%m/%d %l%P").strip %>
              <% end %>
            </td>
            <td><%= count %></td>
            <td><%= ug %></td>
            <td><%= ma %></td>
            <td><%= dr %></td>
            <td><%= brags %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>