<%= form_with(model: user, url: url, method: local_assigns.fetch(:method, :post), local: true, html: { class: "admin-user-form" }) do |f| %>
  <% if user.errors.any? %>
    <div class="flash flash-alert">
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label>
    Email
    <%= f.email_field :email, required: true %>
  </label>

  <label>
    Role
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] } %>
  </label>

  <label>
    <%= f.check_box :active %> <span class="checkable">Active (uncheck to deactivate)</span>
  </label>

  <fieldset class="imports-fieldset">
    <legend><%= user.persisted? ? "Reset password (optional)" : "Temporary password" %></legend>
    <p><small class="muted">User will be prompted to change this on next sign-in. Minimum 8 characters.</small></p>
    <label>
      Password
      <%= f.password_field :password, autocomplete: "new-password", minlength: 8, required: !user.persisted? %>
    </label>
    <label>
      Confirm
      <%= f.password_field :password_confirmation, autocomplete: "new-password", minlength: 8, required: !user.persisted? %>
    </label>
  </fieldset>

  <div class="form-actions">
    <%= f.submit (user.persisted? ? "Save" : "Create user"), class: "button success" %>
    <%= link_to "Cancel", admin_users_path, class: "button pseudo" %>
  </div>
<% end %>
