<!DOCTYPE html>
<html>
  <head>
    <title>Belmont Cap &amp; Gown</title>
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon2.png') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic@7.1.0/picnic.min.css">
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <a href="/start" class="brand">Belmont Cap &amp; Gown</a>
      
      <!-- responsive-->
      <a href="/print" class="nav-link nav-always">Print List</a>
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">&#8801;</label>
      
      <div class="menu">
        <a href="/start" class="nav-link">Check-in</a>
        <a href="/print" class="nav-link nav-link-print">Print List</a>
        <%= link_to 'Stats', stats_graduates_path, class: 'nav-link' %>
        <% if current_user&.admin? %>
          <details class="nav-dropdown">
            <summary class="nav-link">Admin</summary>
            <div class="nav-dropdown-menu">
              <%= link_to 'Users',   admin_users_path,             class: 'nav-dropdown-item' %>
              <%= link_to 'Imports', admin_imports_path,           class: 'nav-dropdown-item' %>
              <%= link_to 'Reports', admin_reports_graduates_path, class: 'nav-dropdown-item' %>
            </div>
          </details>
        <% end %>
        <% if user_signed_in? %>
          <span class="nav-link nav-user"><%= current_user.email %></span>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link nav-link-last pseudo button' %>
        <% end %>
      </div>
    </nav>
    <main class="main">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "flash flash-#{name}" %>
    <% end -%>
    <%= yield %>
    </main>
  </body>
</html>
