<!DOCTYPE html>
<html>
  <head>
    <title>Sign in &mdash; Belmont Cap &amp; Gown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon2.png') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic@7.1.0/picnic.min.css">
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="auth-body">
    <header class="auth-header">
      <a href="/" class="brand">Belmont Cap &amp; Gown</a>
    </header>
    <main class="auth-main">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "flash flash-#{name}" %>
      <% end -%>
      <%= yield %>
    </main>
  </body>
</html>
